<section class="about">
  <div class="container">
    <h2 class="section-title__line section-title about__title">
      Кто мы такие?
    </h2>
    <p class="about__text">
      Основанная в 2010 году, Rhino Rescue начинала как продукт для оказания
      неотложной помощи на догоспитальном этапе поставщик. Основанный на
      концепции быстрой, эффективной и научной передачи что касается неотложной
      помощи, мы постоянно совершенствуем и внедряем инновации в наши продукты,
      предоставление первоклассной первой помощи и факсимильных принадлежностей
      на передовой по всему миру персонал скорой медицинской помощи. В области
      EMS мы являемся вашим профессиональный партнер.
    </p>
    <div class="about__video">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/VzMJls-w9gQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
