<section class="benefits">
  <div class="container">
    <div class="benefits__inner">
      <div class="benefits__item">
        <img
          class="benefits__img"
          src="../images/benefits/1.webp"
          alt="РАЗРАБОТАНО В США"
        />
        <div class="benefits__item-text">РАЗРАБОТАНО В США</div>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__img"
          src="../images/benefits/2.avif"
          alt="ПОЖИЗНЕННАЯ ГАРАНТИЯ"
        />
        <div class="benefits__item-text">ПОЖИЗНЕННАЯ ГАРАНТИЯ</div>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__img"
          src="../images/benefits/3.webp"
          alt="HSA/FSA ОДОБРЕНО "
        />
        <div class="benefits__item-text">HSA/FSA ОДОБРЕНО</div>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__img"
          src="../images/benefits/4.webp"
          alt="СПАСАТЕЛЬНОЕ СНАРЯЖЕНИЕ"
        />
        <div class="benefits__item-text">СПАСАТЕЛЬНОЕ СНАРЯЖЕНИЕ</div>
      </div>
    </div>
  </div>
</section>
