<section class="best-sales">
  <div class="container">
    <h2 class="best-sales__title">Rhino Rescue бестселлеры</h2>
    <p class="best-sales__subtitle">Наши бестселлеры</p>
    <div class="best-sales__inner">
      <div class="best-sales__column">
        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-left best-sales__product-item-1"
            data-best="first-first"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-1.webp"
            alt="best-sales-min"
          />
        </div>

        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-left best-sales__product-item-2"
            data-best="second-second"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-2.webp"
            alt="best-sales-min"
          />
        </div>

        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-left best-sales__product-item-3"
            data-best="third-third"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-3.webp"
            alt="best-sales-min"
          />
        </div>
      </div>

      <div class="best-sales__column">
        <div class="best-sales__item-main">
          <div
            class="best-sales__main-btn best-sales__main-btn-1 app-best-sales__btn"
          ></div>
          <div
            class="best-sales__product-item best-sales__product-item-bottom best-sales__product-item-4"
            data-best="first-second"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>

          <div
            class="best-sales__main-btn best-sales__main-btn-2 app-best-sales__btn"
          ></div>
          <div
            class="best-sales__product-item best-sales__product-item-bottom best-sales__product-item-5"
            data-best="second-second"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>

          <div
            class="best-sales__main-btn best-sales__main-btn-3 app-best-sales__btn"
          ></div>
          <div
            class="best-sales__product-item best-sales__product-item-bottom best-sales__product-item-6"
            data-best="third-second"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__main-img"
            src="../images/best-sales-main.webp"
            alt="best-sales-min"
          />
        </div>
      </div>

      <div class="best-sales__column">
        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-right best-sales__product-item-7"
            data-best="first-third"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-4.webp"
            alt="best-sales-min"
          />
        </div>
        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-right best-sales__product-item-8"
            data-best="second-third"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-5.webp"
            alt="best-sales-min"
          />
        </div>
        <div class="best-sales__item">
          <div class="best-sales__btn app-best-sales__btn"></div>
          <div
            class="best-sales__product-item best-sales__product-item-right best-sales__product-item-9"
            data-best="third-third"
          >
            <button class="best-sales__product-item-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px"
                height="20px"
                viewBox="0 0 20 20"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="
                      stroke: none;
                      fill-rule: nonzero;
                      fill: rgb(13.72549%, 12.156863%, 12.54902%);
                      fill-opacity: 1;
                    "
                    d="M 11.175781 10 L 14.757812 6.425781 C 15.085938 6.097656 15.085938 5.570312 14.757812 5.242188 C 14.429688 4.914062 13.902344 4.914062 13.574219 5.242188 L 10 8.824219 L 6.425781 5.242188 C 6.097656 4.914062 5.570312 4.914062 5.242188 5.242188 C 4.914062 5.570312 4.914062 6.097656 5.242188 6.425781 L 8.824219 10 L 5.242188 13.574219 C 5.082031 13.730469 4.996094 13.945312 4.996094 14.167969 C 4.996094 14.390625 5.082031 14.601562 5.242188 14.757812 C 5.398438 14.917969 5.609375 15.003906 5.832031 15.003906 C 6.054688 15.003906 6.269531 14.917969 6.425781 14.757812 L 10 11.175781 L 13.574219 14.757812 C 13.730469 14.917969 13.945312 15.003906 14.167969 15.003906 C 14.390625 15.003906 14.601562 14.917969 14.757812 14.757812 C 14.917969 14.601562 15.003906 14.390625 15.003906 14.167969 C 15.003906 13.945312 14.917969 13.730469 14.757812 13.574219 Z M 11.175781 10 "
                  />
                </g>
              </svg>
            </button>
            <div class="best-sales__box">
              <a class="products__link" href="#">
                <div class="products-item__img-box">
                  <img
                    class="products__img"
                    src="../images/product/3.jpg"
                    alt="product"
                  />
                </div>
              </a>
              <div class="products-item__menu-box">
                <a
                  class="products-item__menu-link products-item__menu-link-shop"
                  data-front="В корзину"
                  href="#"
                ></a>
              </div>
            </div>
            <div class="products-item__content best-sales__content">
              <h3 class="products-item__title best-sales__products-title">
                <a
                  class="products-item__link best-sales__products-link"
                  href="#"
                >
                  RHINO QF-001 Bleed Control IFAK
                </a>
              </h3>
              <form class="rating" action="#">
                <div class="rating" data-total-value="5">
                  <div class="rating__item" data-item-value="5">★</div>
                  <div class="rating__item" data-item-value="4">★</div>
                  <div class="rating__item" data-item-value="3">★</div>
                  <div class="rating__item" data-item-value="2">★</div>
                  <div class="rating__item" data-item-value="1">★</div>
                </div>
              </form>
              <div class="products-item__price">
                from
                <span class="products-item__money"
                  ><span>₽</span> 728,294.00</span
                >
              </div>
            </div>
          </div>
          <img
            class="best-sales__img"
            src="../images/content/best-sales-min-6.webp"
            alt="best-sales-min"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="popup__order">
    <div class="popup__order-dialog">
      <div class="popup__order-content"></div>
    </div>
  </div>
</section>
