<div class="blog">
    <div class="container">
        <div class="blog__inner">
            <article class="blog__item">
                <a class="blog__link" href="#">
                    <div class="blog-item__box">
                        <img class="blog__img" src="../images/blog/3.webp" alt="product">
                    </div>
                </a>
                <div class="blog__content">
                    <h3 class="blog__title">
                        <a class="blog__link" href="#">
                            Why the Tourniquet Not-working?
                        </a>
                    </h3>
                    <span class="blog__author">
                        By QiqiXieon
                        <span class="blog__data">
                            August 25, 2022
                        </span>
                    </span>
                </div>
            </article>
            <article class="blog__item">
                <a class="blog__link" href="#">
                    <div class="blog-item__box">
                        <img class="blog__img" src="../images/blog/2.webp" alt="product">
                    </div>
                </a>
                <div class="blog__content">
                    <h3 class="blog__title">
                        <a class="blog__link" href="#">
                            Why the Tourniquet Not-working?
                        </a>
                    </h3>
                    <span class="blog__author">
                        By QiqiXieon
                        <span class="blog__data">
                            August 25, 2022
                        </span>
                    </span>
                </div>
            </article>
            <article class="blog__item">
                <a class="blog__link" href="#">
                    <div class="blog-item__box">
                        <img class="blog__img" src="../images/blog/1.webp" alt="product">
                    </div>
                </a>
                <div class="blog__content">
                    <h3 class="blog__title">
                        <a class="blog__link" href="#">
                            Why the Tourniquet Not-working?
                        </a>
                    </h3>
                    <span class="blog__author">
                        By QiqiXieon
                        <span class="blog__data">
                            August 25, 2022
                        </span>
                    </span>
                </div>
            </article>
            <article class="blog__item">
                <a class="blog__link" href="#">
                    <div class="blog-item__box">
                        <img class="blog__img" src="../images/blog/4.webp" alt="product">
                    </div>
                </a>
                <div class="blog__content">
                    <h3 class="blog__title">
                        <a class="blog__link" href="#">
                            Why the Tourniquet Not-working?
                        </a>
                    </h3>
                    <span class="blog__author">
                        By QiqiXieon
                        <span class="blog__data">
                            August 25, 2022
                        </span>
                    </span>
                </div>
            </article>
        </div>
    </div>
</div>