<section class="products essentials">
  <div class="container">
    <h2 class="section-title__line section-title">
      Предметы первой необходимости
    </h2>
    <div class="itc-slider" data-slider="itc-slider">
      <div class="itc-slider__wrapper">
        <div class="itc-slider__items">
          <div class="itc-slider__item essential-slider__item">
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <span class="products__items-onsale">
                    <span>-12%</span>
                  </span>
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/1.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <span class="products__items-onsale">
                    <span>-27%</span>
                  </span>
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/1.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/2.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/22.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <span class="products__items-onsale">
                    <span>-37%</span>
                  </span>
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/23.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/24.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="itc-slider__item essential-slider__item">
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/35.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/3.jpg"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/33.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/34.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <span class="products__items-onsale">
                    <span>-37%</span>
                  </span>
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/23.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box essentials-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/24.webp"
                      alt="product"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="itc-slider__btn header-slider__btn header-slider__btn_prev itc-slider__btn_prev"
      >
        <svg
          class="itc-slider__btn-arrow-prev"
          width="41"
          height="60"
          viewBox="0 0 41 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M40.6499 7L33.0823 0L0.649902 30L33.0823 60L40.6499 53L15.785 30L40.6499 7Z"
            fill="black"
          />
        </svg>
      </button>
      <button
        class="itc-slider__btn header-slider__btn header-slider__btn_next itc-slider__btn_next"
      >
        <svg
          class="itc-slider__btn-arrow-next"
          width="41"
          height="60"
          viewBox="0 0 41 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.649902 52.5L25.5148 30L0.649902 7L8.21747 0L40.6499 30L8.21747 60L0.649902 52.5Z"
            fill="black"
          />
        </svg>
      </button>
      <ol class="itc-slider__indicators">
        <li class="itc-slider__indicator" data-slide-to="0"></li>
        <li class="itc-slider__indicator" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
</section>
