<div class="footer__top">
  <div class="container">
    <a class="footer__top-link" href="contact.html">
      <p class="footer__top-text">
        Мы ценим ваш интерес к ведению бизнеса с Rhino Rescue.Если вы хотите
        взять с собой RhinoRescue товары в вашем магазине или на вашем
        веб-сайте, пожалуйста, обратитесь в службу поддержки клиентов с вашей
        информацией по адресу support@rhinorescuestore.com . Они рассмотрят вашу
        информацию и сообщат вам, соответствуете ли вы требованиям для учетной
        записи Кто мы такие?.
      </p>
    </a>
  </div>
</div>
