<div class="itc-slider header__content" data-slider="itc-slider" data-loop="true" data-autoplay="true"
    data-interval="7000">
    <div class="itc-slider__wrapper">
        <div class="itc-slider__items">
            <div class="itc-slider__item header-slider__items">
                <div class="header-slider__item">
                    <img class="slider__img" src="../images/slider/slider-1.webp" alt="slider-1">
                </div>
            </div>
            <div class="itc-slider__item header-slider__items">
                <div class="header-slider__item">
                    <img class="slider__img" src="../images/slider/slider-2.webp" alt="slider-2">
                </div>
            </div>
        </div>
        <button class="itc-slider__btn header-slider__btn header-slider__btn_prev itc-slider__btn_prev">
            <svg class="itc-slider__btn-arrow-prev" width="41" height="60" viewBox="0 0 41 60" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M40.6499 7L33.0823 0L0.649902 30L33.0823 60L40.6499 53L15.785 30L40.6499 7Z" fill="black" />
            </svg>
        </button>
        <button class="itc-slider__btn header-slider__btn header-slider__btn_next itc-slider__btn_next">
            <svg class="itc-slider__btn-arrow-next" width="41" height="60" viewBox="0 0 41 60" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0.649902 52.5L25.5148 30L0.649902 7L8.21747 0L40.6499 30L8.21747 60L0.649902 52.5Z"
                    fill="black" />
            </svg>
        </button>
    </div>
</div>