<section class="kits products">
  <div class="container">
    <h2 class="section-title__line">Аптечки первой помощи</h2>
    <div class="itc-slider products__inner" data-slider="itc-slider">
      <div class="itc-slider__wrapper">
        <div class="itc-slider__items">
          <div class="itc-slider__item kits-slider__item">
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/3.jpg"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/22.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/33.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/22.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="itc-slider__item kits-slider__item">
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/23.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/22.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/24.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/33.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="itc-slider__item kits-slider__item">
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/33.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/35.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/34.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
            <div class="products-item">
              <div class="products-item__box">
                <a class="products__link" href="#">
                  <div class="products-item__img-box">
                    <img
                      class="products__img"
                      src="../images/product/22.webp"
                      alt="product-1"
                    />
                  </div>
                </a>
                <div class="products-item__menu-box">
                  <a
                    class="products-item__menu-link products-item__menu-link-shop"
                    data-front="В корзину"
                    href="#"
                  ></a>
                </div>
              </div>
              <div class="products-item__content">
                <h3 class="products-item__title">
                  <a class="products-item__link" href="#">
                    Rhino Rescue Tourniquet Storage
                  </a>
                </h3>
                <span class="products-item__price">
                  from
                  <span class="products-item__money"
                    ><span>₽</span> 728,294.00</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="itc-slider__indicators">
        <li class="itc-slider__indicator" data-slide-to="0"></li>
        <li class="itc-slider__indicator" data-slide-to="1"></li>
        <li class="itc-slider__indicator" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>
