<section class="social">
  <div class="container">
    <h2 class="social-title">Откройте для себя #rhinorescue_ в Instagram</h2>
    <div class="social__inner">
      <div class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            class="social__img"
            src="../images/social/1.jpg"
            alt="social-img"
          />
        </a>
      </div>

      <div class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            class="social__img"
            src="../images/social/2.jpg"
            alt="social-img"
          />
        </a>
      </div>

      <div class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            class="social__img"
            src="../images/social/3.jpg"
            alt="social-img"
          />
        </a>
      </div>

      <div class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            class="social__img"
            src="../images/social/4.jpg"
            alt="social-img"
          />
        </a>
      </div>
    </div>
  </div>
</section>
