<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

</head>

<body>
    <%= require('html-loader!./templates/header-page.html').default %>
        <main class="main">
            <section class="goods">
                <%= require('html-loader!./templates/breadcrumbs.html').default %>
                    <%= require('html-loader!./templates/page-product.html').default %>
            </section>
        </main>
        <%= require('html-loader!./templates/footer.html').default %>
</body>

</html>