@import 'vars';
/* Переменные */

@import './itc-slider.css';
@import './slick.css';

.form-comment {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease-out;
}

.form-comment.active-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out;
    width: 100%;
    padding: 24px 0;
    height: 100%;
    border-top: 1px solid #eee;
}

.form-comment__fieldset {
    margin-bottom: 20px;
}

.form-comment__label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    display: block;
    font-size: 15px;
    line-height: 15px;
}

.form-comment__input {
    display: block;
    width: 100%;
    min-height: 2em;
    border: 1px solid #ddd;
    font-size: 13px;
    outline: 0;
    padding: 0 15px;
    color: #878787;
    height: 40px;
    line-height: 18px;
    transition: border-color 0.5s;
    appearance: none;
}

.form-comment__email-fieldset {
    margin-bottom: 20px;
}

.form-comment__textarea {
    max-width: 100%;
    height: 100%;
    padding: 15px;
    resize: none;
}

.form-comment__submit-btn {
    @extend %golos-600;
    cursor: pointer;
    border: 2px solid #222;
    padding: 5px 25px;
    background: #fff;
    color: #222;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
    transition: all 0.3s;
    font-size: 14px;

    &:hover {
        transition: all 0.3s;
        color: #fff;
        background: $accent;
        border: 2px solid $accent;
    }
}

.form-comment__picture-container {
    position: relative;
    border: 1px solid #ddd;
    width: 150px;
    height: 150px;
}

.form-comment__picture-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.form-comment__picture-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.goods {
    padding: 100px 0;

    &__tabs {
        margin-bottom: 70px;

        &-control {
            text-align: center;

            &-btn {
                @extend %golos-600;
                color: #878787;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid transparent;
                background: transparent;
                min-height: 40px;
                border-radius: 40px;
                padding: 0 25px;
                cursor: pointer;

                &--active {
                    border: 1px solid $text;
                    color: $text;

                    &:hover {
                        color: $accent;
                        border: 1px solid $accent;
                        transition: all 0.3s;
                    }
                }

                &:hover {
                    color: $accent;
                    transition: all 0.3s;
                }
            }
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }

        &-content-rev {
            padding: 20px;
        }
    }
}

.goods__inner {
    max-width: 1500px;
}

.goods-content__top {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 30px 0;
}

.goods-content__slide {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
}

.goods-content__slide-thumb {
    width: 86px;
    margin-right: 10px;
    flex-grow: 1;
}

.goods-content__slide-thumb-item {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

.goods-content__slide-thumb-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.goods-content__slide-big {
    width: 680px;
}

.goods-content__slide-big-img {
    width: 680px;
    height: 680px;
    object-fit: cover;
}

.goods__title {
    @extend %golos-600;
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 10px;
}

.products-reiting__box {
    align-items: center;
    display: flex;
}

.goods__price {
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    color: #878787;
}

.goods__price-new {
    margin-left: 10px;
    color: #ec0101;
}

.goods__info-link {
    color: #222222;
    transition: color 0.3s;

    &:hover {
        transition: color 0.3s;
        color: $accent;
    }
}

.goods__price-box,
.goods__color,
.goods__shipping {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

.cart__form-total-row-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart__form-btn {
    border: none;
    color: #fff;
    background-color: $accent;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 40px;
    font-size: 14px;
    @extend %golos-600;
    min-height: 40px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        transition: background-color 0.3s;
        background-color: #222222;
    }
}

.form__goods {
    padding: 30px 0;
}

.goods__together-subtitle {
    font-size: 24px;
    @extend %golos-600;
    line-height: 35px;
    color: #000;
    margin-bottom: 30px;
}

.goods__together-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 755px;
}

.goods__together-total-price {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;

    span {
        color: #696969;
    }
}

.goods__together-order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    min-width: 215px;
    white-space: nowrap;
    border: none;
    color: #fff;
    background-color: $accent;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 14px;
    @extend %golos-600;
    min-height: 40px;
    transition: background-color 0.3s;
    text-transform: uppercase;

    &:hover {
        transition: background-color 0.3s;
        background-color: #222222;
    }
}

.goods__qiwi-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.goods__qiwi-logo {
    object-fit: cover;
    max-width: 100px;
    margin-bottom: 30px;
}

.goods__tabs-control {
    margin-bottom: 50px;
}

.goods__table {
    width: 100%;
    border-collapse: collapse;
    color: #696969;
    margin-bottom: 50px;
}

.goods__table-td {
    border: 1px solid #878787;
    padding: 10px;
}

.goods__content-title {
    @extend %golos-600;
    font-size: 26px;
    line-height: 37px;
    color: #000000;
}

.goods__tabs-content-desc-text {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.goods__tabs-text-nede {
    margin-bottom: 30px;
}

.goods__tabs-content-img {
    max-width: 700px;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.revievs {
    padding: 24px;
    border: 1px solid #eee;
    margin-top: 24px;
    margin-bottom: 24px;
}

.revievs__title {
    @extend %golos-600;
    font-size: 29px;
    line-height: 41px;
    margin-bottom: 8px;
}

.revievs__reiting {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.revievs__reiting-num {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.revievs__reiting-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.revievs__reiting-sort-dropdown {
    appearance: none;
    display: block;
    width: auto;
    padding: 0 40px 0 8px;
    font-size: 12px;
    line-height: 2;
    background: transparent;
    text-indent: 0;
    border: 1px solid #ddd;
    max-width: 100%;
    position: relative;
    z-index: 1;
    color: #222;
    border-radius: 30px;
    height: 40px;
}

.revievs__reiting-sort-dropdown-arrow {
    display: block;
    width: 0;
    height: 0;
    right: 28px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.revievs__reiting-star {
    padding: 4px 16px;
    margin: 0 24px;
    font-size: 12px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.revievs__reiting-item {
    display: flex;
    align-items: center;
}

.rating-star-num {
    margin-left: 4px;
}

.revievs__reiting-link {
    background-color: transparent;
    margin-left: auto;
    align-self: flex-start;
    border: 1px solid #000;
    color: #000;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: border 0.3s color 0.3s;
    cursor: pointer;

    &:hover {
        transition: border 0.3s color 0.3s;
        border: 1px solid $accent;
        color: $accent;
    }
}

.revievs__content {
    border-top: 1px solid #eee;
    padding-top: 16px;
    margin-top: 16px;
}

.revievs__content-item {
    display: flex;
    margin-bottom: 5px;
}

.revievs__content-user {
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 12px;
    text-align: center;
    border-radius: 50%;
    color: #333333;
    background-color: #e9e9e9;

    &:after {
        content: url(../images/icons/verif.svg);
        position: absolute;
        bottom: 5px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}

.revievs__content-box {
    display: flex;
    align-items: flex-end;
    column-gap: 4px;
}

.revievs__content-data {
    font-size: 14px;
    line-height: 20px;
}

.revievs__content-verif {
    display: inline-block;
    color: #ffffff;
    background-color: rgb(34, 34, 34);
    padding: 3px 7px;
    font-size: 11px;
    line-height: 1;
    vertical-align: middle;
}

.revievs__content-name {
    @extend %golos-700;
    font-size: 14px;
    line-height: 20px;
}

.revievs__content-subtitle {
    @extend %golos-700;
    line-height: 22px;
}

.revievs__content-text {
    font-size: 14px;
    line-height: 20px;
}

.goods__faq {
    background-color: #f5f5f5;
    padding: 50px 0 100px;

    &-title {
        @extend %golos-600;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
    }
}

.accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #000;
    font-weight: 500;
    background-color: #fff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url(../images/icons/plus.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: '';
    transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background-color: #fdf0d5;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__content {
    padding: 0.75rem 1rem;
    background: #fff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.accordion__item.accordion__item_show {
    .accordion__header {
        background-color: #fdf0d5;
    }
}

.goods__also,
.goods__recently {
    padding: 50px 0;
}

.goods__also-title,
.goods__recently-title {
    @extend %golos-600;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.goods__also-box,
.goods__recently-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.goods__also-item,
.goods__recently-item {
    width: 370px;
    min-height: 430px;
    border-radius: 2px;
}

.best-sales__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.goods-item__content {
    margin-top: 20px;
}

.goods-item__title {
    margin-bottom: 5px;
}

.goods-item__link {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-transform: capitalize;
    color: #222222;
    transition: color 0.3s;
}

.goods-item__price {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.goods-reiting__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3px;
}

@media (max-width: 1750px) {
    .goods-content__slide-thumb {
        display: none;
    }
}

@media (max-width: 1450px) {
    .goods-content__slide {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        justify-content: space-between;
    }

    .goods-content__slide-big-img {
        width: 100%;
        height: 100%;
    }

    .goods-content__slide-big {
        width: 400px;
    }

    .goods-content__desc {
        flex-grow: 1;
    }

    .benefits__inner {
        display: none;
    }

    .goods-content__slide-big .slick-next.slick-arrow,
    .goods-content__slide-big .slick-prev.slick-arrow {
        top: 41%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .goods__title {
        font-size: 26px;
        line-height: 30px;
    }

    .goods__also-box,
    .goods__recently-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .goods-content__top {
        flex-direction: column;
    }

    .goods-content__slide-big-img {
        width: 100%;
        height: 100%;
    }

    .goods-content__slide-big {
        width: 100%;
    }

    .goods__tabs-content-img {
        max-width: 100%;
    }

    .revievs__reiting-link {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .revievs__reiting {
        gap: 20px;
    }

    .revievs__reiting-star {
        padding: 0;
        margin: 0;
        border-left: none;
        border-right: none;
    }

    .revievs__reiting-dropdown-wrapper {
        margin-top: 10px;
    }
}
